.heroHome {
  background-image: url("/bg-homepage-hero.png");
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLinks {
  text-decoration: none;
  display: inline-block;
}

.homepage-content {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 30px;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.recipe-body-heading {
  grid-column: span 2;
}
.recipe-cards-home {
  grid-column: span 8;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 30px;
}

.recipe-card {
  grid-column: span 4;
  background: #FFF;
  border: 1px solid var(--border);
  border-radius: 30px;
  box-shadow: 0px 7px 24px 0px rgba(0, 0, 0, 0.10);
}

/* search bar Homepage */
.search-bar-home {
  position: relative;
  grid-column: span 8;
}

.search-icon {
  position:absolute;
  left: 0px;
}

.search-bar-home {
  padding-left: 30px;
}

.add-recipe {
  grid-column: span 10;
}
/* WHITE FORM FOR COMMENT */
.whiteFormForComment {
  width: 990px;
height: 481px;
flex-shrink: 0;
border-radius: 30px;
background: #FFF;
box-shadow: 0px 7px 24px 0px rgba(0, 0, 0, 0.10);
}

.userName {
  display: flex;
width: 511px;
height: 51px;
padding: 16px;
align-items: center;
gap: 2px;
border-radius: 10px;
border: 1px solid rgba(13, 13, 13, 0.25);
background: #FFF;
}

.reviewField {

}

/* RATING STARS IN THE FORM FOR ADDING COMMENTS */
.rating {
  margin: 50px auto;
  width: 400px;
}
.rating > * {
  float: right;
}
@keyframes pulse {
  50% {
    color: #5e5e5e;
    text-shadow: 0 0 15px #777;
  }
}
.rating label {
  height: 40px;
  width: 20%;
  display: block;
  position: relative;
  cursor: pointer;
}
.rating label:nth-of-type(5):after {
  animation-delay: 0.25s;
}
.rating label:nth-of-type(4):after {
  animation-delay: 0.2s;
}
.rating label:nth-of-type(3):after {
  animation-delay: 0.15s;
}
.rating label:nth-of-type(2):after {
  animation-delay: 0.1s;
}
.rating label:nth-of-type(1):after {
  animation-delay: 0.05s;
}
.rating label:after {
  transition: all 0.4s ease-out;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  content: "☆";
  color: #444;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 80px;
  animation: 1s pulse ease;
}
.rating label:hover:after {
  color: #5e5e5e;
  text-shadow: 0 0 15px #5e5e5e;
}
.rating input {
  display: none;
}
.rating input:checked + label:after, .rating input:checked ~ label:after {
  content: "★";
  color: #f9bf3b;
  text-shadow: 0 0 20px #f9bf3b;
}

/* SAVE BUTTON IN THE COMMENT FORM */
.saveButton {
  background-color: #FEBD2F;
  width: 174px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 300px;
  color: #000;
  text-align: center;
  font-family: Young Serif;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
